.product-item-header {
    display: flex;
    justify-content: space-between;
}

.product-item-header::before {
    content: '';
    flex: 0 0 33%;
}

.product-item-header-caption {
    text-align: center;
    flex: 0 0 33%;
}

.product-item-header-icons {
    text-align: right;
    flex: 0 0 33%;
}

.product-item-main {
    display: flex;
    justify-content: space-between;
}

.product-item-main::after {
    content: '';
    flex: 0 0 33%;
}

.product-item-main-icon {
    flex: 0 0 33%;
}

.product-item-main-counter {
    flex: 0 0 33%;
    align-self: center;
}
